.background{
    background-image: url(../assets/image/background.jpg);
    background-position: fixed;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    min-height: 100vh;
}